.main {
  background-color: #232B45;
  background-image: url("/arul-james-unsplash-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #DECAF2;
  border-color: #9F89C9;
}
.main a {
  color: #DECAF2;
  text-decoration: none;
  font-weight: 600;
}
.main .bordered {
  border-image: linear-gradient(120deg, #9F89C9, #DECAF2, #9F89C9) 4 round;
  border-color: #9F89C9;
  border-width: 4px;
  border-style: solid;
}
.main .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #9F89C9, #DECAF2, #9F89C9) border-box;
}
.main .box {
  background-color: #232B45;
}
.main .transbox {
  background-color: rgba(35, 43, 69, 0.6);
}
.main .overlay {
  background-color: rgba(35, 43, 69, 0.8);
}
.main :focus {
  outline: 4px outset #DECAF2;
}

.yehnir {
  background-color: #1e2e35;
  background-image: url("/yehnir-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #29a8bb;
  border-color: #267e8b;
}
.yehnir a {
  color: #29a8bb;
  text-decoration: none;
  font-weight: 600;
}
.yehnir .bordered {
  border-image: linear-gradient(120deg, #267e8b, #29a8bb, #267e8b) 4 round;
  border-color: #267e8b;
  border-width: 4px;
  border-style: solid;
}
.yehnir .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #267e8b, #29a8bb, #267e8b) border-box;
}
.yehnir .box {
  background-color: #1e2e35;
}
.yehnir .transbox {
  background-color: rgba(30, 46, 53, 0.6);
}
.yehnir .overlay {
  background-color: rgba(30, 46, 53, 0.8);
}
.yehnir :focus {
  outline: 4px outset #29a8bb;
}

.hajime {
  background-color: #3E4174;
  background-image: url("/hajime-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #B39FC8;
  border-color: #7D7AB8;
}
.hajime a {
  color: #B39FC8;
  text-decoration: none;
  font-weight: 600;
}
.hajime .bordered {
  border-image: linear-gradient(120deg, #7D7AB8, #B39FC8, #7D7AB8) 4 round;
  border-color: #7D7AB8;
  border-width: 4px;
  border-style: solid;
}
.hajime .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #7D7AB8, #B39FC8, #7D7AB8) border-box;
}
.hajime .box {
  background-color: #3E4174;
}
.hajime .transbox {
  background-color: rgba(62, 65, 116, 0.6);
}
.hajime .overlay {
  background-color: rgba(62, 65, 116, 0.8);
}
.hajime :focus {
  outline: 4px outset #B39FC8;
}

.natsuki {
  background-color: #321110;
  background-image: url("/natsuki-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #E7D3AB;
  border-color: #8E7061;
}
.natsuki a {
  color: #E7D3AB;
  text-decoration: none;
  font-weight: 600;
}
.natsuki .bordered {
  border-image: linear-gradient(120deg, #8E7061, #E7D3AB, #8E7061) 4 round;
  border-color: #8E7061;
  border-width: 4px;
  border-style: solid;
}
.natsuki .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #8E7061, #E7D3AB, #8E7061) border-box;
}
.natsuki .box {
  background-color: #321110;
}
.natsuki .transbox {
  background-color: rgba(50, 17, 16, 0.6);
}
.natsuki .overlay {
  background-color: rgba(50, 17, 16, 0.8);
}
.natsuki :focus {
  outline: 4px outset #E7D3AB;
}

.vexichor {
  background-color: #1D3A33;
  background-image: url("/vexichor-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #7E8246;
  border-color: #4F503D;
}
.vexichor a {
  color: #7E8246;
  text-decoration: none;
  font-weight: 600;
}
.vexichor .bordered {
  border-image: linear-gradient(120deg, #4F503D, #7E8246, #4F503D) 4 round;
  border-color: #4F503D;
  border-width: 4px;
  border-style: solid;
}
.vexichor .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #4F503D, #7E8246, #4F503D) border-box;
}
.vexichor .box {
  background-color: #1D3A33;
}
.vexichor .transbox {
  background-color: rgba(29, 58, 51, 0.6);
}
.vexichor .overlay {
  background-color: rgba(29, 58, 51, 0.8);
}
.vexichor :focus {
  outline: 4px outset #7E8246;
}

.elysien {
  background-color: #271830;
  background-image: url("/elysien-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #D98C91;
  border-color: #975145;
}
.elysien a {
  color: #D98C91;
  text-decoration: none;
  font-weight: 600;
}
.elysien .bordered {
  border-image: linear-gradient(120deg, #975145, #D98C91, #975145) 4 round;
  border-color: #975145;
  border-width: 4px;
  border-style: solid;
}
.elysien .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #975145, #D98C91, #975145) border-box;
}
.elysien .box {
  background-color: #271830;
}
.elysien .transbox {
  background-color: rgba(39, 24, 48, 0.6);
}
.elysien .overlay {
  background-color: rgba(39, 24, 48, 0.8);
}
.elysien :focus {
  outline: 4px outset #D98C91;
}

.momoko {
  background-color: #231c1c;
  background-image: url("/momoko-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #D25237;
  border-color: #823324;
}
.momoko a {
  color: #D25237;
  text-decoration: none;
  font-weight: 600;
}
.momoko .bordered {
  border-image: linear-gradient(120deg, #823324, #D25237, #823324) 4 round;
  border-color: #823324;
  border-width: 4px;
  border-style: solid;
}
.momoko .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #823324, #D25237, #823324) border-box;
}
.momoko .box {
  background-color: #231c1c;
}
.momoko .transbox {
  background-color: rgba(35, 28, 28, 0.6);
}
.momoko .overlay {
  background-color: rgba(35, 28, 28, 0.8);
}
.momoko :focus {
  outline: 4px outset #D25237;
}

.ambriel {
  background-color: #2A2A39;
  background-image: url("/ambriel-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #BCB693;
  border-color: #726B5E;
}
.ambriel a {
  color: #BCB693;
  text-decoration: none;
  font-weight: 600;
}
.ambriel .bordered {
  border-image: linear-gradient(120deg, #726B5E, #BCB693, #726B5E) 4 round;
  border-color: #726B5E;
  border-width: 4px;
  border-style: solid;
}
.ambriel .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #726B5E, #BCB693, #726B5E) border-box;
}
.ambriel .box {
  background-color: #2A2A39;
}
.ambriel .transbox {
  background-color: rgba(42, 42, 57, 0.6);
}
.ambriel .overlay {
  background-color: rgba(42, 42, 57, 0.8);
}
.ambriel :focus {
  outline: 4px outset #BCB693;
}

.vokuth {
  background-color: #232136;
  background-image: url("/vokuth-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #B15DAE;
  border-color: #6c336e;
}
.vokuth a {
  color: #B15DAE;
  text-decoration: none;
  font-weight: 600;
}
.vokuth .bordered {
  border-image: linear-gradient(120deg, #6c336e, #B15DAE, #6c336e) 4 round;
  border-color: #6c336e;
  border-width: 4px;
  border-style: solid;
}
.vokuth .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #6c336e, #B15DAE, #6c336e) border-box;
}
.vokuth .box {
  background-color: #232136;
}
.vokuth .transbox {
  background-color: rgba(35, 33, 54, 0.6);
}
.vokuth .overlay {
  background-color: rgba(35, 33, 54, 0.8);
}
.vokuth :focus {
  outline: 4px outset #B15DAE;
}

.mimiru {
  background-color: #CCD3E2;
  background-image: url("/mimiru-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #5F6B80;
  border-color: #42455c;
}
.mimiru a {
  color: #5F6B80;
  text-decoration: none;
  font-weight: 600;
}
.mimiru .bordered {
  border-image: linear-gradient(120deg, #42455c, #5F6B80, #42455c) 4 round;
  border-color: #42455c;
  border-width: 4px;
  border-style: solid;
}
.mimiru .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #42455c, #5F6B80, #42455c) border-box;
}
.mimiru .box {
  background-color: #CCD3E2;
}
.mimiru .transbox {
  background-color: rgba(204, 211, 226, 0.6);
}
.mimiru .overlay {
  background-color: rgba(204, 211, 226, 0.8);
}
.mimiru :focus {
  outline: 4px outset #5F6B80;
}

.avarice {
  background-color: #f5dfbf;
  background-image: url("/avarice-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #7e6029;
  border-color: #b48c40;
}
.avarice a {
  color: #7e6029;
  text-decoration: none;
  font-weight: 600;
}
.avarice .bordered {
  border-image: linear-gradient(120deg, #b48c40, #7e6029, #b48c40) 4 round;
  border-color: #b48c40;
  border-width: 4px;
  border-style: solid;
}
.avarice .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #b48c40, #7e6029, #b48c40) border-box;
}
.avarice .box {
  background-color: #f5dfbf;
}
.avarice .transbox {
  background-color: rgba(245, 223, 191, 0.6);
}
.avarice .overlay {
  background-color: rgba(245, 223, 191, 0.8);
}
.avarice :focus {
  outline: 4px outset #7e6029;
}

.seiren {
  background-color: #232851;
  background-image: url("/seiren-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #C0CCF0;
  border-color: #8393c0;
}
.seiren a {
  color: #C0CCF0;
  text-decoration: none;
  font-weight: 600;
}
.seiren .bordered {
  border-image: linear-gradient(120deg, #8393c0, #C0CCF0, #8393c0) 4 round;
  border-color: #8393c0;
  border-width: 4px;
  border-style: solid;
}
.seiren .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #8393c0, #C0CCF0, #8393c0) border-box;
}
.seiren .box {
  background-color: #232851;
}
.seiren .transbox {
  background-color: rgba(35, 40, 81, 0.6);
}
.seiren .overlay {
  background-color: rgba(35, 40, 81, 0.8);
}
.seiren :focus {
  outline: 4px outset #C0CCF0;
}

.cupid {
  background-color: #FFE9E5;
  background-image: url("/cupid-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #b6557c;
  border-color: #db83ab;
}
.cupid a {
  color: #b6557c;
  text-decoration: none;
  font-weight: 600;
}
.cupid .bordered {
  border-image: linear-gradient(120deg, #db83ab, #b6557c, #db83ab) 4 round;
  border-color: #db83ab;
  border-width: 4px;
  border-style: solid;
}
.cupid .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #db83ab, #b6557c, #db83ab) border-box;
}
.cupid .box {
  background-color: #FFE9E5;
}
.cupid .transbox {
  background-color: rgba(255, 233, 229, 0.6);
}
.cupid .overlay {
  background-color: rgba(255, 233, 229, 0.8);
}
.cupid :focus {
  outline: 4px outset #b6557c;
}

.usynaren {
  background-color: #a4b4a0;
  background-image: url("/usynaren-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #242f35;
  border-color: #27473b;
}
.usynaren a {
  color: #242f35;
  text-decoration: none;
  font-weight: 600;
}
.usynaren .bordered {
  border-image: linear-gradient(120deg, #27473b, #242f35, #27473b) 4 round;
  border-color: #27473b;
  border-width: 4px;
  border-style: solid;
}
.usynaren .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #27473b, #242f35, #27473b) border-box;
}
.usynaren .box {
  background-color: #a4b4a0;
}
.usynaren .transbox {
  background-color: rgba(164, 180, 160, 0.6);
}
.usynaren .overlay {
  background-color: rgba(164, 180, 160, 0.8);
}
.usynaren :focus {
  outline: 4px outset #242f35;
}

.khoni {
  background-color: #e6e2d7;
  background-image: url("/khoni-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #282A2C;
  border-color: #4a465c;
}
.khoni a {
  color: #282A2C;
  text-decoration: none;
  font-weight: 600;
}
.khoni .bordered {
  border-image: linear-gradient(120deg, #4a465c, #282A2C, #4a465c) 4 round;
  border-color: #4a465c;
  border-width: 4px;
  border-style: solid;
}
.khoni .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #4a465c, #282A2C, #4a465c) border-box;
}
.khoni .box {
  background-color: #e6e2d7;
}
.khoni .transbox {
  background-color: rgba(230, 226, 215, 0.6);
}
.khoni .overlay {
  background-color: rgba(230, 226, 215, 0.8);
}
.khoni :focus {
  outline: 4px outset #282A2C;
}

.tzhein {
  background-color: #3C1124;
  background-image: url("/tzhein-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #F5D18E;
  border-color: #F49873;
}
.tzhein a {
  color: #F5D18E;
  text-decoration: none;
  font-weight: 600;
}
.tzhein .bordered {
  border-image: linear-gradient(120deg, #F49873, #F5D18E, #F49873) 4 round;
  border-color: #F49873;
  border-width: 4px;
  border-style: solid;
}
.tzhein .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #F49873, #F5D18E, #F49873) border-box;
}
.tzhein .box {
  background-color: #3C1124;
}
.tzhein .transbox {
  background-color: rgba(60, 17, 36, 0.6);
}
.tzhein .overlay {
  background-color: rgba(60, 17, 36, 0.8);
}
.tzhein :focus {
  outline: 4px outset #F5D18E;
}

.minyu {
  background-color: #FAC176;
  background-image: url("/minyu-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #742114;
  border-color: #aa3e28;
}
.minyu a {
  color: #742114;
  text-decoration: none;
  font-weight: 600;
}
.minyu .bordered {
  border-image: linear-gradient(120deg, #aa3e28, #742114, #aa3e28) 4 round;
  border-color: #aa3e28;
  border-width: 4px;
  border-style: solid;
}
.minyu .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #aa3e28, #742114, #aa3e28) border-box;
}
.minyu .box {
  background-color: #FAC176;
}
.minyu .transbox {
  background-color: rgba(250, 193, 118, 0.6);
}
.minyu .overlay {
  background-color: rgba(250, 193, 118, 0.8);
}
.minyu :focus {
  outline: 4px outset #742114;
}

.kokorin {
  background-color: #E79DE9;
  background-image: url("/kokorin-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #591F1E;
  border-color: #B13A56;
}
.kokorin a {
  color: #591F1E;
  text-decoration: none;
  font-weight: 600;
}
.kokorin .bordered {
  border-image: linear-gradient(120deg, #B13A56, #591F1E, #B13A56) 4 round;
  border-color: #B13A56;
  border-width: 4px;
  border-style: solid;
}
.kokorin .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #B13A56, #591F1E, #B13A56) border-box;
}
.kokorin .box {
  background-color: #E79DE9;
}
.kokorin .transbox {
  background-color: rgba(231, 157, 233, 0.6);
}
.kokorin .overlay {
  background-color: rgba(231, 157, 233, 0.8);
}
.kokorin :focus {
  outline: 4px outset #591F1E;
}

.zalitai {
  background-color: #1A1B34;
  background-image: url("/zalitai-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #8B85C8;
  border-color: #7663A1;
}
.zalitai a {
  color: #8B85C8;
  text-decoration: none;
  font-weight: 600;
}
.zalitai .bordered {
  border-image: linear-gradient(120deg, #7663A1, #8B85C8, #7663A1) 4 round;
  border-color: #7663A1;
  border-width: 4px;
  border-style: solid;
}
.zalitai .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #7663A1, #8B85C8, #7663A1) border-box;
}
.zalitai .box {
  background-color: #1A1B34;
}
.zalitai .transbox {
  background-color: rgba(26, 27, 52, 0.6);
}
.zalitai .overlay {
  background-color: rgba(26, 27, 52, 0.8);
}
.zalitai :focus {
  outline: 4px outset #8B85C8;
}

.pavoroux {
  background-color: #5883A5;
  background-image: url("/pavoroux-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #3D2C67;
  border-color: #3B3895;
}
.pavoroux a {
  color: #3D2C67;
  text-decoration: none;
  font-weight: 600;
}
.pavoroux .bordered {
  border-image: linear-gradient(120deg, #3B3895, #3D2C67, #3B3895) 4 round;
  border-color: #3B3895;
  border-width: 4px;
  border-style: solid;
}
.pavoroux .bordered-img {
  border: 4px solid transparent;
  background: linear-gradient(120deg, #3B3895, #3D2C67, #3B3895) border-box;
}
.pavoroux .box {
  background-color: #5883A5;
}
.pavoroux .transbox {
  background-color: rgba(88, 131, 165, 0.6);
}
.pavoroux .overlay {
  background-color: rgba(88, 131, 165, 0.8);
}
.pavoroux :focus {
  outline: 4px outset #3D2C67;
}

* {
  box-sizing: border-box;
}

:root, html, body, #root, main, article {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Glory", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  min-height: 0;
  margin-bottom: 2rem;
  max-width: 1500px;
}

footer {
  margin-top: auto;
  width: 100%;
  border-width: 4px 0 0 0 !important;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Amarante", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

p {
  white-space: pre-wrap;
}

ul {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}

.shape {
  transform: skew(-30deg);
  translate: 0.5rem;
  width: 80%;
  padding: 0.5rem;
  display: inline-block;
}

.shape > * {
  transform: skew(30deg);
}

.box, .transbox {
  padding: 1rem;
}

.title {
  margin-top: 10%;
  margin-bottom: 1rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.wide {
  width: 90%;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
}

.portrait {
  width: 250px;
  margin: 0.5rem;
  margin-right: 1.5rem;
}

.under-portrait {
  translate: 0 -2rem;
  width: calc(100% - 2rem);
  text-align: center;
}

.half-col {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  width: 40%;
  flex-grow: 1;
}

.full-portrait {
  width: 90%;
  max-width: 500px;
  margin: 0.5rem;
}

.retainer-portrait {
  width: 80%;
  max-width: 350px;
}

.center {
  width: 100%;
  text-align: center;
}

.spacer {
  margin: 0.5rem;
}

.screen-thumb {
  width: 100%;
  margin: 0;
}

.screen-date {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-bottom: 0.5rem;
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screencap {
  max-width: 95%;
  max-height: 95%;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-btn {
  text-align: center;
  width: 35%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.world {
  margin-bottom: 1rem;
  position: relative;
  overflow: visible;
  margin-top: 3rem;
  flex-flow: row wrap;
}
.world .card {
  max-width: 300px;
}

#cheat {
  max-width: 100vw;
}
#cheat .title {
  margin-top: 1rem;
}

.world-title {
  position: absolute;
  width: 30%;
  top: -3rem;
  left: -2rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
